.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 15%;
  width: 100%;
}

.container span {
  display: flex;
  align-items: center;
  gap: 3px;
}

.container img {
  width: 20px;
}

.skillList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  row-gap: 30px;
  gap: 20px;
  max-width: 1400px;
  margin-bottom: 30px;
}

@media (width >= 800px) {
  .skillList {
    max-width: 850px;
    gap: 30px;
  }
}

@media (width<=600px) {
.skillList {
    max-width: 70%;
    gap: 20px;
  }
}